parameters:
	ignoreErrors:
		-
			message: "#^Method PreemStudio\\\\Relatable\\\\Models\\\\Relatable\\:\\:getTable\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: src/Models/Relatable.php

		-
			message: "#^Method PreemStudio\\\\Relatable\\\\Models\\\\Relatable\\:\\:related\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphTo does not specify its types\\: TRelatedModel, TChildModel$#"
			count: 1
			path: src/Models/Relatable.php

		-
			message: "#^Method PreemStudio\\\\Relatable\\\\Models\\\\Relatable\\:\\:source\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphTo does not specify its types\\: TRelatedModel, TChildModel$#"
			count: 1
			path: src/Models/Relatable.php
